$forkMeBackground: #000 !default;
$forkMeColor: #FFF !default;
$forkMeHoverBackground: #666 !default;
$forkMeHoverColor: #FFF !default;
$forkMeBorderColor: #FFF !default;
$forkMeBorderBackgroundColor: #FFF !default;
$forkMeBorderHoverColor: #FFF !default;
